useDynLib(RobRegression, .registration=TRUE)
importFrom(DescTools,RobScale)
importFrom(RSpectra,eigs_sym)
importFrom(fastmatrix,kronecker.prod)
importFrom(Rcpp, evalCpp)
importFrom(mvtnorm,rmvnorm)
importFrom(KneeArrower,findCutoff)
importFrom(parallel,detectCores)
importFrom(capushe,capushe)
importFrom(foreach,foreach)
importFrom(foreach,"%do%")
importFrom(foreach,"%dopar%")
importFrom(parallel,makeCluster)
importFrom(parallel,stopCluster)
importFrom(doParallel,registerDoParallel)
importFrom(stats,rnorm)
importFrom(stats,runif)
importFrom(stats,median)
export(Robust_Variance)
export(Robust_Mahalanobis_regression)
export(Robust_regression)



